@font-face {
    font-family: 'ReservaSans';
    src: url('fonts/ReservaSans/ReservaSans-Regular.eot');
    src: url('fonts/ReservaSans/ReservaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSans/ReservaSans-Regular.woff') format('woff'),
         url('fonts/ReservaSans/ReservaSans-Regular.ttf') format('truetype'),
         url('fonts/ReservaSans/ReservaSans-Regular.svg#Reserva Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSansBlack';
    src: url('fonts/ReservaSans/ReservaSans-Black.eot');
    src: url('fonts/ReservaSans/ReservaSans-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSans/ReservaSans-Black.woff') format('woff'),
         url('fonts/ReservaSans/ReservaSans-Black.ttf') format('truetype'),
         url('fonts/ReservaSans/ReservaSans-Black.svg#Reserva Sans Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSansMedium';
    src: url('fonts/ReservaSans/ReservaSans-Medium.eot');
    src: url('fonts/ReservaSans/ReservaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSans/ReservaSans-Medium.woff') format('woff'),
         url('fonts/ReservaSans/ReservaSans-Medium.ttf') format('truetype'),
         url('fonts/ReservaSans/ReservaSans-Medium.svg#Reserva Sans Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSansBold';
    src: url('fonts/ReservaSans/ReservaSans-Bold.eot');
    src: url('fonts/ReservaSans/ReservaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSans/ReservaSans-Bold.woff') format('woff'),
         url('fonts/ReservaSans/ReservaSans-Bold.ttf') format('truetype'),
         url('fonts/ReservaSans/ReservaSans-Bold.svg#Reserva Sans Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSansThin';
    src: url('fonts/ReservaSans/ReservaSans-Thin.eot');
    src: url('fonts/ReservaSans/ReservaSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSans/ReservaSans-Thin.woff') format('woff'),
         url('fonts/ReservaSans/ReservaSans-Thin.ttf') format('truetype'),
         url('fonts/ReservaSans/ReservaSans-Thin.svg#Reserva Sans Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSerif';
    src: url('fonts/ReservaSerif/ReservaSerif-Regular.eot');
    src: url('fonts/ReservaSerif/ReservaSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSerif/ReservaSerif-Regular.woff') format('woff'),
         url('fonts/ReservaSerif/ReservaSerif-Regular.ttf') format('truetype'),
         url('fonts/ReservaSerif/ReservaSerif-Regular.svg#Reserva Serif Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReservaSerifMedium';
    src: url('fonts/ReservaSerif/ReservaSerif-Medium.eot');
    src: url('fonts/ReservaSerif/ReservaSerif-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReservaSerif/ReservaSerif-Medium.woff') format('woff'),
         url('fonts/ReservaSerif/ReservaSerif-Medium.ttf') format('truetype'),
         url('fonts/ReservaSerif/ReservaSerif-Medium.svg#Reserva Serif Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
