* {
    box-sizing: border-box;
}

html, body, p {
    margin:0;
    padding:0;
    width: 100%;
}

body {
    overflow: hidden;
    overflow-y: auto;
}

#loading-placeholder {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: white;
    position: fixed;
    z-index: 11;
}


#landing-header {
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index:10;
    top: 1em;
}
    #landing-header img {
        width: 10%;
        max-width: 8em;
    }

.page-center {
    text-align: center;
}

.uppercase-text {
    text-transform: uppercase;
}

.page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 1080px;
    z-index:5;
    background: white;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page .landing-page-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page strong {
    font-weight: normal;
    margin: 0;
}

.first-page {
    position: fixed;
    width: 100%;
    background: #6D6E71;
    z-index:0;
    top: 0;
    left: 0;
    background-image:url('img/video_placeholder.gif') ;
}

.second-page h2 {
    font-family: 'ReservaSerifMedium';
    font-size: 4.5em;
    padding-bottom: 0.3em;
}

.second-page p {
    font-family: 'ReservaSans';
    font-size: 0.93em;
}
    .second-page p strong{
        font-family: 'ReservaSansBold';
    }

.third-page {
    background-image: url(img/orange.jpg);
    color: white;
}

.third-page h3, .fifth-page h3, .sixth-page h3, .seventh-page h3, .eighth-page h3{
    font-size: 1.8em;
    font-family: 'ReservaSansBlack';
    padding: 0.2em;
}

.third-page p {
    font-family: 'ReservaSansBold';
    font-size: 1.2em;
}

.fourth-page p, .fifth-page p, .sixth-page p, .seventh-page p, .eighth-page p{
    font-family: 'ReservaSans';
    font-size: 1.2em;
}

.fifth-page {
    background-image: url(img/woman_looking_down.jpg);
}

.sixth-page {
    background-image: url(img/men_smiling.jpg);
}

.seventh-page {
    background-image: url(img/woman_smiling.jpg);
}
    .seventh-page p strong, .eighth-page p strong {
        font-family: 'ReservaSansMedium';
    }

.eighth-page {
    background-image: url(img/woman_food.jpg);
}

.nineth-page {
    background-image: url(img/mom_kids.jpg);
}

.eleventh-page {
    background-image: url(img/kids.jpg);
}

.twelfth-page {
    background-image: url(img/kids_learning.jpg);
}
    

p.landing-slogan {
    font-family: 'ReservaSansBold';
    font-size: 14vh;
    line-height: 16vh;
    color: white;
}

.thirteenth-page .landing-page-content {
    width:80%;
    margin: 0 auto;
    text-align: center;
    height: 70vh;
    background: url('img/brasil.svg') no-repeat 80%;
}
    .thirteenth-page .landing-page-content .content, .thirteenth-page .landing-page-content .brasil{
        display: inline-block;
        text-align: left;
    }

    .thirteenth-page .landing-page-content .content{
        width: 48%;
        height: 70vh;
        position: relative;
    }

.thirteenth-page .heading {
    font-family: 'ReservaSansBold';
    line-height: 1.6em;
    font-size: 2.8vh;
    display: block;
    padding-top: 6vh;
}

.thirteenth-page .text, .fourteenth-page .text {
    font-family: 'ReservaSans';
    font-size: 1.9vh;
    display: block;
}

.thirteenth-page .bib {
    font-family: 'ReservaSansThin';
    font-size: 0.8vh;
    color: #6D6E71;
    display: block;
}

.thirteenth-page h3 {
    font-family: 'ReservaSansBold';
    line-height: 1.5em;
    font-size: 1em;
    color: #B81920;
}

.fourteenth-page {
    background-image: url('img/kid_smiling.jpg');
}

.fourteenth-page h1 {
    font-family: 'ReservaSerifMedium';
    font-size: 4.1em;
    padding: 0.3em;    
}

.fourteenth-page h4 {
    font-family: 'ReservaSansBold';
    font-size: 1.1em;
    padding: 0.3em;
}

.fifteenth-page .heading {
    font-family: 'ReservaSansBold';
    font-size: 1.6em;
    padding-bottom: 3em;
}

.fifteenth-page .links {
    font-family: 'ReservaSansBold';
    font-size: 1.5em;
}

.fadein-text{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
    display: block;
}

.horizontal {
    position: fixed;
    display: block;
    z-index: 7;
    left: 100%;
}

.horizontal .landing-page-content {
    left:15%;
}

.twelfth-page .landing-page-content , .fourteenth-page .landing-page-content{
    transform: translateY(-30%);
}

.third-page .landing-page-content {
    transform: translateY(0);
}

.page-fadein {
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 1s;
}

.page-fadein-back {
    opacity: 0.5;
}

.appear {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.page-fadein-placeholder {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);{
}