html, body, p {
    margin: 0px;
}

#landing-header {
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index:10;
    top: 1em;
}
    #landing-header img {
        width: 10%;
        max-width: 8em;
    }

.page-center {
    text-align: center;
}

.uppercase-text {
    text-transform: uppercase;
}

.page {
    height: 800px;
    z-index:5;
    background: #fff;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.page > .landing-page-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page strong {
    font-weight: normal;
    margin: 0;
}

.first-page {
    position: fixed;
    width: 100%;
    background: #6D6E71;
    z-index:0;
    top: 0;
    left: 0;
}

.second-page h2 {
    font-family: 'ReservaSerifMedium';
    font-size: 4.5em;
    padding: 0.3em;
    
}

.second-page p {
    font-family: 'ReservaSans';
    font-size: 0.93em;
}
    .second-page p strong{
        font-family: 'ReservaSansBold';
    }

.third-page h3, .fifth-page h3, .sixth-page h3, .seventh-page h3, .eighth-page h3{
    font-size: 1.8em;
    font-family: 'ReservaSansBlack';
    padding: 0.2em;
}

.third-page p {
    font-family: 'ReservaSansBold';
    font-size: 1.2em;
}

.fourth-page p, .fifth-page p, .sixth-page p, .seventh-page p, .eighth-page p{
    font-family: 'ReservaSans';
    font-size: 1.2em;
}

.seventh-page p strong, .eighth-page p strong {
    font-family: 'ReservaSansMedium';
}

p.landing-slogan {
    font-family: 'ReservaSansBold';
    font-size: 5em;
    padding: 0.3em;
    line-height: 1em;
}

.thirteenth-page h2 {
    font-family: 'ReservaSansBold';
    line-height: 1.5em;
    font-size: 1.6em;
}

.thirteenth-page p, .fourteenth-page p {
    font-family: 'ReservaSans';
    font-size: 0.9em;
}

.thirteenth-page small {
    font-family: 'ReservaSansThin';
    font-size: 0.8em;
    color: #6D6E71;
}

.thirteenth-page h3 {
    font-family: 'ReservaSansBold';
    line-height: 1.5em;
    font-size: 1em;
    color: #B81920;
}

.fourteenth-page h1 {
    font-family: 'ReservaSerifMedium';
    font-size: 4.1em;
    padding: 0.3em;    
}

.fourteenth-page h4 {
    font-family: 'ReservaSansBold';
    font-size: 1.1em;
    padding: 0.3em;
}